<%- include("heading") -%>

  <div class="box" id="heading">
    <h1> <%= pageTitle%> </h1>
  </div>

  <div class="box">
    <% for (var i=0;i<novaLista.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p> <%= novaLista[i] %> </p>
    </div>

    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="novoItem" placeholder="Novo Item" autocomplete="off">
      <button type="submit" name="list" value=<%= pageTitle %>>+</button>
    </form>
  </div>


<%- include("footer") -%>
